.spoiler{
    float: left;
    display: block;
    width: 100%;
}
.spoiler .text{
    float: left;
    display: block;
    width: 100%;

    font-size: 500%;
    text-align: center;
    margin-top: 20%;
    background-color: #efefef;
}
.spoiler .contributor{
    text-align: right;
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 20%;
    font-style: italic;
    color: #bbbbbb;
}
