table.wallets{}

table.wallets td.address,
table.wallets td.confirmed,
table.wallets td.unconfirmed,
table.wallets td.rate{
    font-family: monospace;
}
table.wallets td.confirmed,
table.wallets td.unconfirmed,
table.wallets td.rate{
    text-align: right;
}

table.transactions{}
table.transactions td.address,
table.transactions td.amount,
table.transactions td.confirmations{
    font-family: monospace;
}